<%= javascript_include_tag 'application', 'lazyYT' => true %>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'lazyYT' => true %>   
<%= stylesheet_link_tag    'application', media: 'all', 'demo' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'normalize' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'style' => true %>
<br>
<br>


<!--  


<div class="homepage1">


            <div class="container1">

                       
            <div class="grid">
              
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="_oEA18Y8gM0"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT " data-youtube-id="tuMgJrFoAFY" > </div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="HLEAA_tIpbY"></div>
              </div>
              
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="hjUeXHZBLNo"></div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="QK8mJJJvaes"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="156iOcnJdbw"></div>
              </div>
              
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="dZREfVaIkl8"></div>
              </div>
              <div class="item even">
                <div class="js-lazyYT" data-youtube-id="gBXQ9eQpijc"></div>
              </div>
              <div class="item odd">
                <div class="js-lazyYT" data-youtube-id="RPO4tbV4UHk"></div>
              </div>
              
             
              
            </div>
     
   
</div> -->


<section class="main">

  <div class="switch demo4">
    <input type="checkbox">
    <label><br><i class="fa fa-users fa-2x"></i>
    </i></label>
  </div>

  <div class="switch demo4">
    <input type="checkbox" checked>
    <label ><br><i class="fa fa-user fa-2x" id="icono"></i>
    </i></label>
  </div>

</section>


</div>
<%= javascript_include_tag 'application', 'index' => true %>  

<%= javascript_include_tag 'application', 'modernizr' => true %> 
