


<%= stylesheet_link_tag    'application', media: 'all', 'demo' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'normalize' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'style' => true %>

<br>
<br>
<br>
<br>


<section class="main">
  
<div class="col-md-12">
  <div class="col-md-6">
    
<%= link_to "
  <div class='switch demo4'>
    <input type='checkbox'>
    <label><br><i class='fa fa-user fa-3x'> </i> </label>
  </div>".html_safe, new_user_session_path%>
   
  </div>
  
  <div class="col-md-6">
    

  
    <%= link_to "<div class='switch demo4'>
    <input type='checkbox'>
    <label ><br><i class='fa fa-user-plus fa-3x' id='icono'></i>
    </i></label></div>".html_safe, new_user_registration_path%>
  
  </div>
  
</div>


</section>
