

<body class="homepagenew">
  
  <br>



<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<div class="bodycuerpo1">
  <div class="container">
    <div class="row vertical-offset-100">

    <div class="col-md-12">
      
      
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6">
             
        <div class="panel1 panel-default container11">
          <div class="panel-heading1 cabeza">                                
            <div class="row-fluid user-row"> 
              
              <p><%= image_tag("logo.png", :class => 'img-responsive') %></p>
            </div>
          </div>
          <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

           <form accept-charset="UTF-8" role="form" class="form-signin">
            <fieldset class="letraformulario">
         

             <div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
				</div>
				<% if devise_mapping.rememberable? -%>
				<div class="form-group">
					<%= f.check_box :remember_me %> <%= f.label :remember_me %>
				</div>
				<% end -%>
				<div class="form-group">
					<%= f.submit "Log in", class: "btn btn-lg btn-info btn-block botonpersonalizado" %>
				</div>
				<% end %>
        <hr>
        <hr>
				<%= render "devise/shared/links" %>

              
            </div>
          </fieldset>
        </form>
      </div>
   
      </div>
      <div class="col-md-3">
        
      </div>
      
    </div>
    
  </div>
</div>
</div>




</div>
</div>

<%= javascript_include_tag 'application', 'logueo' => true %> 
</body>