
	
	
	<div id="posts_content">
  <h1>
    <%= @post.title %>
  </h1>
  <div class="jumbotron">
    <p class="post_content">
      <%= @post.content %>
    </p>
  </div>
  <p class="des">By </p>
  <p class="des">
    <%= @post.user.email %>
  </p>
  <br>
  <p class="des">
    <%= time_ago_in_words(@post.created_at) %> ago
  </p>
  
  <div class="row">
  <div class="btn-group pull-right">
    <%= link_to like_post_path(@post), method: :put, class: "btn btn-default" do %>
      <i class="fa fa-thumbs-o-up fa-2x"></i>
      <%= @post.get_upvotes.size %>
    <% end %>
    <%= link_to unlike_post_path(@post), method: :put, class: "btn btn-default" do %>
      <i class="fa fa-thumbs-o-down fa-2x"></i>
      <%= @post.get_downvotes.size %>
    <% end %>
  </div>
</div>


 Comentarios
    <span class="badge">
      <%= @post.comments.count %>
    </span>
  
  
 <br><br>
  <%= render @post.comments %>
<hr>

<div class="jumbotron">
  <div class="container">
    <h1>Add your opinion</h1>
     <p>
      <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Add comments</a>

    </p>
  </div>
</div>






<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
         <div id="comments">
   
  
    <%= render "comments/form" %>
  </div>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



 <script>
$(document).ready(function() {
  $('#modal').modal(options)
});
</script>












  <hr/>
  <%= link_to "Atras", posts_path(@post), class:'btn btn-default btn' %>
</div>
<!--/  botonones para eliminar y editar los comentarios
-->
<!--/	= link_to "Edit", edit_post_path(@post), class: "button"
-->
<!--/	= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure want to do this?"}, class: "button"
-->