<!DOCTYPE html>
<html>
<head>
  <title>ForumSena</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
</head>
<body>
<div class="main_header clear_fix">

	<div class="wrapper">
		<div id="logo">
		<p> <%=link_to "Forum Sena Red Social CFDCM", root_path%></p>
		</div>
			
			<div class="buttons">
				<% if user_signed_in? %>
				<%= link_to "New Post", new_post_path%>
				<%else%>
				<%= link_to "Sign Up", new_user_registration_path%>
				<%= link_to "Sign in", new_user_session_path %><br />
				<% end %>

			</div>
	</div>	
</div>

<div class="wrapper">
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>

<div class="wrapper">
	<%= yield%>
</div>
</body>
</html>

